[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
sqlalchemy = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"

[scripts]
test = "pytest --capture=no"
db_up = "python3 up.py"
db_down = "python3 down.py"